{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "jsx": true
    },
    "target": "esnext"
  },
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "sourceMaps": true,
  "minify": true
}